# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*.vcxproj
*.filters
*.user
Makefile.Debug
*.suo
*.sdf
Makefile.Release
*.pdb
tests/updatechain_testNew/tmp/
tests/updatechain_testNew/repo/
tests/updatechain_testNew/local_repo/
docs/
tests/tst_*
